<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expolision_sheet-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{1,197},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{142,158}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{337,687},{142,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{140,158}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{337,847},{140,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{339,359},{140,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{197,525},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{197,689},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{197,853},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{167,1177},{140,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expolision_sheet-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{197,359},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{144,164}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{1,1177},{144,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expolision_sheet-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{146,166}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{197,191},{146,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{1,393},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{1,589},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{1,785},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{1,981},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{184,188}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{197,1},{184,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{144,160}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{197,1017},{144,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expolision_sheet-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{142,160}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{337,525},{142,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expolision_sheet-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{142,158}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{333,1163},{142,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>expolision.png</string>
            <key>size</key>
            <string>{480,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88f4540035800fa2f4b6f98c99640525:fad00da998af9878aacaac8d679891ad:40123ac351c5fe74c1ffacb2f66f8363$</string>
            <key>textureFileName</key>
            <string>expolision.png</string>
        </dict>
    </dict>
</plist>
