<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bowRead01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,177}</string>
                <key>spriteSourceSize</key>
                <string>{184,177}</string>
                <key>textureRect</key>
                <string>{{0,0},{184,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bowRead02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,177}</string>
                <key>spriteSourceSize</key>
                <string>{184,177}</string>
                <key>textureRect</key>
                <string>{{184,0},{184,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bowRead03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,177}</string>
                <key>spriteSourceSize</key>
                <string>{184,177}</string>
                <key>textureRect</key>
                <string>{{368,0},{184,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bowTower.png</string>
            <key>size</key>
            <string>{552,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8493ae0117ce8954acf4d47d1971780:b87122bde3232d9b5308da3dea1a1b61:ddda25caac3e047d47c0e2901f0082e3$</string>
            <key>textureFileName</key>
            <string>bowTower.png</string>
        </dict>
    </dict>
</plist>
